.nav #nav-header {
  font-size: 1.4em;
}

.menu-content {
  background: rgba(0,0,0,0.4);
  width: 20em;
  margin: 20% auto;
}

blockquote {
  border: none;
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-style: italic;
}



.carousel-inner .item {
  height: auto;
}

[class*="carousel-content-"] h1 {
  font-size: 32px;
}

.carousel-content-1 .aboutme-content {
  font-size: 20px;
}

.carousel-content-1 .aboutme-content .moto {
  font-size: 22px;
}

.carousel-content-2 .info {
	padding: 10px;
	font-size: 16px;
}

.info b {
	font-size: 18px;
}

.carousel-content-3 .table>thead>tr>th {
	font-size: 16px;
}

.carousel-content-3 .table>tbody>tr>td {
	padding-top: 15px;
	font-size: 14px;
}

.carousel-control {
  width: 10%;
}

.wrapper4 h1 {
  font-size: 48px;
}

.wrapper4 i {
  font-size: .8em;
}
